body {
  min-height: 100vh;
  background-color: hsl(0, 0%, 8%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  padding: 35px;
}

img {
  max-width: 100px;
  border-radius: 50%;
}

.links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  background-color: hsl(0, 0%, 20%);
  border-radius:10px;
  padding: 8px 65px 8px 65px;
  text-align: center;
}

h2 {
  margin-bottom: 0px;
  font-size: 30px;
}
h3 {
  color: hsl(75, 94%, 57%);
  margin-top: 0px;
  font-size: large;
}

p {
  font-size: 14px;
}
