body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4d04e;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 38vh;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 6px 6px 0 0;
  padding: 20px;
  background-color: white;
}

.container img {
  max-width: 100%;
  border-radius: 20px;
}

.learning {
  background-color: #f4d04e;
  max-width: 25%;
  padding: 5px 14px 5px 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.learning p {
  max-width: 100%;
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.avatar img {
  max-width: 10%;
}

.attribution {
  position: absolute;
  text-align: center;
  bottom: 0;
}
